<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Vellum
  body
    style.

      :root {
        --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
          Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        --color: #000;
        --background: #fff;
      }

      body.dark {
        --color: #fff;
        --background: #111;
      }

      html, body {
        box-sizing: border-box;
      }

      body {
        color: var(--color);
        background: var(--background);
        font-family: var(--font-family);
        font-size: 16px;
        margin: 0;
        transition: all 0.3s;
      }

      .container {
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
      }

    block body
    block scripts
      script(type="text/javascript").
        const initEva = () => eva.replace();
      script(src="https://unpkg.com/eva-icons", onload="initEva()")
