<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- Default
    title Test Article
    meta(name="description" content="This is a test description")
    //- Vellum
    meta(name="vellum:title" content="Test Page")
    meta(name="vellum:description" content="This is a test description")
    meta(name="vellum:image" content="http://127.0.0.1:8080/images/logo.png")
    meta(name="vellum:tags" content="vellum,test")
    meta(name="vellum:icon" content="http://127.0.0.1:8080/favicon-16x16.png")
    //- Graph
    meta(property="og:title" content="Test Page")
    meta(property="og:description" content="This is a test description")
    meta(property="og:locale" content="en_gb")
    meta(property="og:type" content="article")
    meta(property="og:image" content="")
    meta(property="og:site_name" content="Vellum Test")
    meta(property="og:published_time" content=new Date().toISOString())
    meta(property="og:modified_time" content=new Date().toISOString())
  body

    article
      h1 Test Page
      iframe(src="http://127.0.0.1:8080/embed", frameBorder="0", referrerpolicy="unsafe-url")
      //- iframe(src="http://127.0.0.1:8080/embed?styles=http://127.0.0.1:8080/test/styles.css", frameBorder="0", referrerpolicy="unsafe-url")