block styles
  style.
    table {
      width: 100%;
    }

    tr {
      display: flex;
    }

    tr td {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex: 1;
    }

nav(role="navigation")
  ul
    li
      a(href="/admin") Home
    li
      a(href="/admin/tags") Tags
    li
      a(href="/admin/referers") Referers

block body