if styles
  link(rel="stylesheet", href=styles)
else
  style.
    .tags {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
    }

    .tags .tag:not(:only-child):not(:last-child){
      margin-right: 0.5rem;
    }

    .tags .tag {
      font-weight: bold;
      transition: all .3s;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 0.825rem;
      line-height: 0.825rem;
      padding: 0.5rem 0.75rem;
      color: white;
      background: black;
      margin-bottom: 0.5rem;
    }

    .tags .tag:hover {
      color: black;
      background: #fff;
    }

mixin tags(tags)
  .tags
    each tag in tags
      .tag
        span=tag.name